body {
  font-family: "Verdana";
  background-color: #0a0a0b;
  color: #8f8f8f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* nav */
.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: absolute;
  left: 20px;
  top: 10px;
  background: #0a0a0b;
  color: #99ff99;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #0a0a0b;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 247px;
}
.wrapper .menu-btn i{
  position: absolute;
  transform: none;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar{
  position: fixed;
  background: #0a0a0b;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #0a0a0b;
  font-size: 25px;
  font-weight: 600;
  color: #8f8f8f;
}
#sidebar .list-items{
  position: relative;
  background: #0a0a0b;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
 
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  
  box-shadow: 0 0px 10px 3px #FFC799;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #99ff99;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #0a0a0b;
  border-radius: 5px;
  border: 1px solid #0a0a0b;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #99ff99;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #0a0a0b;
  z-index: -1;
  width: 100%;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 700;
}
.content p{
  font-size: 40px;
  font-weight: 700;
}
/* nav end*/
.header {
  margin: 40px 0;
}

.header__avatar {
  border-radius: 50%;
  border: 3px solid transparent;
}

.header__avatar:hover {
  border: 3px solid #99ff99;
}
.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Verdana";
}

.body_icon {
  width: 20px;
  height: 20px; 
  border-radius: 50%;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links__header {
  font-family: "Verdana";
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
}

.links__container {
  list-style-type: none;
  background: #0a0a0b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 10px;
  border-bottom: 1px solid #8f8f8f;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #99ff99;
  transition: 1s;
}
.linsk__link:hover {
color: #FFC799;
}
.links__title {
  margin: 0;
  min-width: 100px;
}

/* contacts */
.contacts_container {margin: 0; width:50%;}
	.contacts_container ul{position: absolute;}
	.contacts_container ul li {list-style: none; float: left; margin-right:5px;}
	.contacts_container ul li a {display:block; position:relative; text-align: center; color: #99ff99; border-radius:50%; width: 30px; height: 30px; line-height: 30px; background: #8f8f8f; transition:.5s;}
	.contacts_container ul li a:before {
		content: '';
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius:50%;
		background: #FFC799;
		transition: .5s;
		transform: scale(.9);
		z-index:-1;
	}
	.contacts_container ul li a:hover:before {
		transform: scale(1.1);
		box-shadow: 0 0 15px #FFC799;
	}
  .contacts_container ul li a:hover {
  color: #FFC799;
  box-shadow: 0 0 5px #FFC799;
}
/* contacts end */

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #99ff99;
  transition: 1s;
  border-radius: 20px;

  font-size: 14px;
  line-height: 1.4;

  color: #0a0a0b;
  text-decoration: none;
}

.button-link:hover {
  background-color: #FFC799;
  color: #0a0a0b;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1);
}